
<% provide(:title, "About") %>
<h1>Meraki Social Media</h1>
<p>
 Meraki Social media is an alternative to users who believe Twitter only trends silly stuff. Over here you will be amongst the most awoke group in the world! Do not sleep, activist!
</p>