<footer class="footer">
  <small>
   The <a href="https://spw-project.herokuapp.com//">Meraki Social Media</a>
    by <a href="https://github.com/vanessamontanha/">Vanessa Montanha</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://google.com/">Got a question?</a></li>
    </ul>
  </nav>
</footer>




